In [ ]:
#Загружаем библиотеку Pandas
import pandas as pd

In [ ]:
#Ищем как в БД записаны города Мехико и Санкт-Петербург, т.к. их написание латиницей точно неизвестно
df_db_search = pd.read_sql(
"""
SELECT
  *
FROM
  city
WHERE
  country_code = 'MEX' OR country_code = 'RUS';
""",
"postgresql://netology:NetoSQL2019@84.201.153.170:19001/world-db"
)

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [ ]:
df_db_search

       id                 name country_code          district  population
0    2515     Ciudad de México          MEX  Distrito Federal     8591309
1    2516          Guadalajara          MEX           Jalisco     1647720
2    2517  Ecatepec de Morelos          MEX            México     1620303
3    2518               Puebla          MEX            Puebla     1346176
4    2519       Nezahualcóyotl          MEX            México     1224924
..    ...                  ...          ...               ...         ...
357  3764      Kirovo-Tepetsk          RUS             Kirov       91600
358  3765          Krasnogorsk          RUS           Moskova       91000
359  3766                 Klin          RUS           Moskova       90000
360  3767           Taikovski          RUS              Perm       90000
361  3768        Novyi Urengoi          RUS  Yamalin Nenetsia       89800

[362 rows x 5 columns]

In [ ]:
#Выбираем в БД города, соответствующие городам из таблицы с отпусками (7)
df_db = pd.read_sql(
"""
SELECT
  *
FROM
  city
WHERE
  (name = 'Ciudad de México' AND country_code = 'MEX') OR name = 'Lublin' OR name = 'Tokyo' OR (name = 'St Petersburg' AND country_code = 'RUS') OR name = 'Brno' OR (name = 'London' AND district = 'England') OR name = 'Cairo' OR name = 'Grodno' OR name = 'Budapest' OR name = 'Sydney' OR name = 'Istanbul';
""",
"postgresql://netology:NetoSQL2019@84.201.153.170:19001/world-db"
)

In [ ]:
df_db

      id              name country_code          district  population
0    130            Sydney          AUS   New South Wales     3276207
1    456            London          GBR           England     7285000
2    608             Cairo          EGY             Kairo     6789479
3   1532             Tokyo          JPN          Tokyo-to     7980230
4   2515  Ciudad de México          MEX  Distrito Federal     8591309
5   2936            Lublin          POL         Lubelskie      356251
6   3340              Brno          CZE      Jizní Morava      381862
7   3357          Istanbul          TUR          Istanbul     8787958
8   3483          Budapest          HUN          Budapest     1811552
9   3524            Grodno          BLR            Grodno      302000
10  3581     St Petersburg          RUS           Pietari     4694000

In [ ]:
#Загружаем таблицу с отпусками(8)
df_sheets = pd.read_csv('_DAU-33, Вертелецкая, Итоговое задание DFD-27 (Ответы) - Ответы на форму (1).csv', sep=',')

In [ ]:
df_sheets

,Отметка времени,Страна,Город,Дата начала,Дата окончания,Планируемый бюджет,Стоимость билетов,Стоимость отеля,Траты на отдыхе,Общая оценка отпуска по шкале от 1 до 5,Столбец с итоговой стоимостью отпуска,Отклонение итоговой стоимости от плана,Стоимость одного дня отпуска,Стоимость отеля за день,Стоимость трат на месте за день,Название города на английском
0,5/20/2022 18:35:31,Мексика,Мехико,3/5/2020,3/20/2020,69000.0,34000.0,14000.0,16000.0,3,64000.0,5000.0,4266.67,933.33,1066.67,Ciudad de México
1,5/20/2022 18:36:04,Польша,Люблин,7/11/2020,7/21/2020,58000.0,12000.0,12000.0,14000.0,4,38000.0,20000.0,3800.00,1200.00,1400.00,Lublin
2,5/20/2022 18:36:42,Япония,Токио,9/21/2020,10/1/2020,83000.0,45000.0,36000.0,10000.0,5,91000.0,-8000.0,9100.00,3600.00,1000.00,Tokyo
3,5/20/2022 18:37:13,Россия,Санкт-Петербург,12/1/2020,12/19/2020,74000.0,9500.0,19000.0,19000.0,4,47500.0,26500.0,2638.89,1055.56,1055.56,St Petersburg
4,5/20/2022 18:37:47,Чехия,Брно,1/9/2021,1/19/2021,85000.0,18400.0,23000.0,20000.0,3,61400.0,23600.0,6140.00,2300.00,2000.00,Brno
5,5/20/2022 18:38:37,Великобритания,Лондон,3/15/2021,3/23/2021,91000.0,32600.0,35000.0,29000.0,2,96600.0,-5600.0,12075.00,4375.00,3625.00,London
6,5/20/2022 18:39:11,Египет,Каир,4/30/2021,5/10/2021,69000.0,16000.0,23000.0,15000.0,3,54000.0,15000.0,5400.00,2300.00,1500.00,Cairo
7,5/20/2022 18:40:02,Белоруссия,Гродно,8/7/2021,8/27/2021,65000.0,13000.0,17000.0,15000.0,4,45000.0,20000.0,2250.00,850.00,750.00,Grodno
8,5/20/2022 18:40:47,Венгрия,Будапешт,2/2/2022,2/12/2022,92000.0,21000.0,31000.0,23000.0,5,75000.0,17000.0,7500.00,3100.00,2300.00,Budapest
9,5/20/2022 18:41:36,Австралия,Сидней,4/14/2022,4/21/2022,102000.0,51000.0,40000.0,30000.0,3,121000.0,-19000.0,17285.71,5714.29,4285.71,Sydney
10,5/20/2022 18:42:29,Турция,Стамбул,5/5/2022,5/15/2022,89000.0,16000.0,19000.0,15000.0,4,50000.0,39000.0,5000.00,1900.00,1500.00,Istanbul

In [ ]:
#Выводим датафрейм с названием города и его населением из таблицы City (9)
df_db = pd.read_sql(
"""
SELECT
  name, population
FROM
  city
WHERE
  (name = 'Ciudad de México' AND country_code = 'MEX') OR name = 'Lublin' OR name = 'Tokyo' OR (name = 'St Petersburg' AND country_code = 'RUS') OR name = 'Brno' OR (name = 'London' AND district = 'England') OR name = 'Cairo' OR name = 'Grodno' OR name = 'Budapest' OR name = 'Sydney' OR name = 'Istanbul';
""",
"postgresql://netology:NetoSQL2019@84.201.153.170:19001/world-db"
)
df_db

                name  population
0             Sydney     3276207
1             London     7285000
2              Cairo     6789479
3              Tokyo     7980230
4   Ciudad de México     8591309
5             Lublin      356251
6               Brno      381862
7           Istanbul     8787958
8           Budapest     1811552
9             Grodno      302000
10     St Petersburg     4694000

In [ ]:
#Объединяем гугл таблицу и БД (10)
df_merged = df_db.merge(df_sheets, left_on='name', right_on='Название города на английском', how='inner')
df_merged

,name,population,Отметка времени,Страна,Город,Дата начала,Дата окончания,Планируемый бюджет,Стоимость билетов,Стоимость отеля,Траты на отдыхе,Общая оценка отпуска по шкале от 1 до 5,Столбец с итоговой стоимостью отпуска,Отклонение итоговой стоимости от плана,Стоимость одного дня отпуска,Стоимость отеля за день,Стоимость трат на месте за день,Название города на английском
0,Sydney,3276207,5/20/2022 18:41:36,Австралия,Сидней,4/14/2022,4/21/2022,102000.0,51000.0,40000.0,30000.0,3,121000.0,-19000.0,17285.71,5714.29,4285.71,Sydney
1,London,7285000,5/20/2022 18:38:37,Великобритания,Лондон,3/15/2021,3/23/2021,91000.0,32600.0,35000.0,29000.0,2,96600.0,-5600.0,12075.00,4375.00,3625.00,London
2,Cairo,6789479,5/20/2022 18:39:11,Египет,Каир,4/30/2021,5/10/2021,69000.0,16000.0,23000.0,15000.0,3,54000.0,15000.0,5400.00,2300.00,1500.00,Cairo
3,Tokyo,7980230,5/20/2022 18:36:42,Япония,Токио,9/21/2020,10/1/2020,83000.0,45000.0,36000.0,10000.0,5,91000.0,-8000.0,9100.00,3600.00,1000.00,Tokyo
4,Ciudad de México,8591309,5/20/2022 18:35:31,Мексика,Мехико,3/5/2020,3/20/2020,69000.0,34000.0,14000.0,16000.0,3,64000.0,5000.0,4266.67,933.33,1066.67,Ciudad de México
5,Lublin,356251,5/20/2022 18:36:04,Польша,Люблин,7/11/2020,7/21/2020,58000.0,12000.0,12000.0,14000.0,4,38000.0,20000.0,3800.00,1200.00,1400.00,Lublin
6,Brno,381862,5/20/2022 18:37:47,Чехия,Брно,1/9/2021,1/19/2021,85000.0,18400.0,23000.0,20000.0,3,61400.0,23600.0,6140.00,2300.00,2000.00,Brno
7,Istanbul,8787958,5/20/2022 18:42:29,Турция,Стамбул,5/5/2022,5/15/2022,89000.0,16000.0,19000.0,15000.0,4,50000.0,39000.0,5000.00,1900.00,1500.00,Istanbul
8,Budapest,1811552,5/20/2022 18:40:47,Венгрия,Будапешт,2/2/2022,2/12/2022,92000.0,21000.0,31000.0,23000.0,5,75000.0,17000.0,7500.00,3100.00,2300.00,Budapest
9,Grodno,302000,5/20/2022 18:40:02,Белоруссия,Гродно,8/7/2021,8/27/2021,65000.0,13000.0,17000.0,15000.0,4,45000.0,20000.0,2250.00,850.00,750.00,Grodno
10,St Petersburg,4694000,5/20/2022 18:37:13,Россия,Санкт-Петербург,12/1/2020,12/19/2020,74000.0,9500.0,19000.0,19000.0,4,47500.0,26500.0,2638.89,1055.56,1055.56,St Petersburg

In [ ]:
#Группируем по странам, рассчитывая среднюю численность населения в городах, в которых отдыхали
df_merged[['name', 'Страна', 'population']].groupby('Страна').mean()

                population
Страна
Австралия        3276207.0
Белоруссия        302000.0
Великобритания   7285000.0
Венгрия          1811552.0
Египет           6789479.0
Мексика          8591309.0
Польша            356251.0
Россия           4694000.0
Турция           8787958.0
Чехия             381862.0
Япония           7980230.0